* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: "Open Runde";
    src: url('fonts/OpenRunde-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Runde";
    src: url('fonts/OpenRunde-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

html {
    display: flex;
    min-height: 100vh;
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 24px;
    gap: 24px;
    color: #2E2F38;
}

.word {
    display: flex;
    border: 1px solid #C9CAD6;
    border-radius: 8px;
    gap: 3px;
    padding: 3px;

    &>span {
        background-color: #F2F3FB;
        color: #2E2F38;
        /* background-color: #FFFFFF; */
        border: 1px solid #C9CAD6;
        width: 24px;
        height: 24px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Open Runde', -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        font-size: 1.1rem;
        font-weight: bold;
        
    }
}

input {
    border: 1px solid #C9CAD6;
    text-transform: uppercase;
    height: 32px;
    padding: 0 8px;
    border-radius: 8px;
    font-family: monospace;
    text-align: center;
    letter-spacing: 1rem;

    &:focus {
        border: 1px solid #2E2F38;
        outline: none;
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.direction {
    font-family: 'Open Runde', -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: bold;
}

.logo {
    height: 64px;
}

#status {
    font-size: 1.6rem;
    font-family: monospace;
    margin-top: 24px;
    text-align: center;
    text-wrap: pretty;
}

.word>.highlightYellow {
    background-color: #F9F2E7;
    border: 1px solid #E8C68E;
}

.word>.highlightBlue {
    background-color: #E9F5FE;
    border: 1px solid #98D1FA;
}

.word>.highlightGreen {
    background-color: #EDF5EB;
    border: 1px solid #ACD6A3;
}

.word>.highlightRedLeft {
    border: double 1px transparent;
    border-radius: 6px;
    background-image: linear-gradient(270deg, #FFF0EF, #F2F3FB), linear-gradient(270deg, #FFB9B8, #C9CAD6);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.word>.highlightRedRight {
    border: double 1px transparent;
    border-radius: 6px;
    background-image: linear-gradient(90deg, #FFF0EF, #F2F3FB), linear-gradient(90deg, #FFB9B8, #C9CAD6);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

#line {
    width: 400px;
    height: 1px;
    /* background-color: #F2F3FA; */
    background: linear-gradient(90deg, white 10%, #E3E5EF, white 90%);
    margin: 1px 0;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
    gap: 8px;

    &>button {
        font-family: 'Inter', -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        border-radius: 6px;
        border: 1px solid #C9CAD6;
        color: #2E2F38;
        background: white;
        padding: 8px;
        cursor: pointer;

        &:hover {
            background-color: #F2F3FB;
        }

        &:active {
            background-color: #E3E5EF;
        }
    }
}